In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv'
total_data = pd.read_csv(url, sep=',')
columns = ['Latitude', 'Longitude', 'MedInc']
total_data = total_data[columns]

total_data.head()

   Latitude  Longitude  MedInc
0     37.88    -122.23  8.3252
1     37.86    -122.22  8.3014
2     37.85    -122.24  7.2574
3     37.85    -122.25  5.6431
4     37.85    -122.25  3.8462

In [3]:
total_data.to_csv('/workspace/KMEANS/data/raw/total_data.csv', index=False)